body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#0a4d68;
color:white;
text-align:center;
padding:30px;
}

nav{
background:#088395;
text-align:center;
padding:15px;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
font-size:18px;
}

nav a:hover{
color:yellow;
}

.hero{
text-align:center;
padding:60px;
background:#05bfdb;
color:white;
}

.about{
padding:40px;
text-align:center;
}

.services{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
}

.box{
background:white;
padding:20px;
width:200px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

.contact{
text-align:center;
padding:40px;
background:#e6f7ff;
}

footer{
background:#0a4d68;
color:white;
text-align:center;
padding:15px;
}